<section class="banner" style="background-image: url('your-background.jpg');">
  <div class="container d-flex align-items-center justify-content-between mt-2 mx-5">
    <div class="banner-content">
      <h1>Skill Swap makes <strong>learning</strong> and <strong>teaching</strong> effortless!</h1>
      <%# <p>Empower yourself and others by swapping skills and growing together.</p> %>
    </div>
    <%= image_tag "how-to-start-coding-1-removebg-preview.png", alt: "Skill Swap", class: "banner-image" %>
 
    <%# searchbar goes here %>

    <%# <%= link_to "Add new issue", new_issue_path, class: "btn btn-flat" %>
  </div>
</div>

<section class="filters m-5">
  <div class="filter-card">
    <span>Prep-work</span>
  </div>
  <div class="filter-card">
    <span>Ruby</span>
  </div>
  <div class="filter-card">
    <span>JavaScript</span>
  </div>
  <div class="filter-card">
    <span>Python</span>
  </div>
</section>

<section class="offers py-">
  <h2 class="mb-4">Browse Skills & Offers</h2>

  <div class="cards">
    <% @issues.each do |issue| %>
      <%= link_to issue_path(issue), class: "link" do  %>
        <div class="card-product">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="card-product-avatar" />
          <div class="card-product-infos">
            <div class="d-flex justify-content-between pb-2">
              <h3>maria</h3>
              <p class="posted-time text-secondary"><%= time_ago_in_words(issue.created_at) %> ago</p>
            </div>
            <h4 class="mb-0"><%= issue.title %></h4>
            <p><%= issue.description %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
