<section class="banner" style="background-image: url('your-background.jpg');" id="banner-solution">
  <div class="container d-flex align-items-center justify-content-between mt-2 mx-5">
    <div class="banner-content">
      <h1>Skill Swap makes <strong>learning</strong> and <strong>teaching</strong> effortless!</h1>
      <p>Empower yourself and others by swapping skills and growing together.</p>
    </div>
    <%= image_tag "how-to-start-coding-1-removebg-preview.png", alt: "Skill Swap", class: "banner-image" %>

    <%# searchbar goes here %>
    <%# <%= link_to "Add new issue", new_issue_path, class: "btn btn-flat" %>
  </div>
</section>

<section class="filters m-5">
  <div class="filter-card">
    <span>Prep-work</span>
  </div>
  <div class="filter-card">
    <span>Ruby</span>
  </div>
  <div class="filter-card">
    <span>JavaScript</span>
  </div>
  <div class="filter-card">
    <span>Python</span>
  </div>
</section>

<section class="offers py-">
  <h2 class="mb-4">Find someone to help</h2>

  <div class="cards">
    <% @issues.each do |issue| %>
      <%= link_to issue_path(issue), class: "link" do  %>
        <div class="card-product">
          <img src="<%= issue.user.github_avatar_url %>" class="card-product-avatar green-circle" alt="<%= issue.user.github_name %>" />
          <div class="card-product-infos">
            <div class="d-flex justify-content-between align-items-center">
              <h3><%= issue.user.github_name || issue.user.email.split('@').first.capitalize %></h3>
              <div>
                <p class="posted-time text-secondary text-end"><%= time_ago_in_words(issue.created_at) %> ago</p>
                <div>
                  <% issue.tags.each do |tag| %>
                    <% if ["Variables", "Ruby", "Rails", "CSS", "HTML", "Terminal", "VSCode", "JavaScript", "Linux", "PostgreSQL"].include?(tag.name) %>
                      <span class="badge <%= tag.name.downcase %>"><%= tag.name %></span>
                    <% else %>
                      <span class="badge default"><%= tag.name %></span>
                    <% end %>
                  <% end %>

                </div>
              </div>
            </div>
            <h4 class="mb-0"><%= issue.title %></h4>
            <p><%= truncate(issue.description, length: 60) %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
