<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container mx-5">
    <h1>Skill Swap makes <strong>learning</strong> and <strong>teaching</strong> effortless!</h1>
    <p>Empower yourself and others by swapping skills and growing together.</p>

    <%# searchbar goes here %>

    <%# <%= link_to "Add new issue", new_issue_path, class: "btn btn-flat" %>
  </div>
</div>

<h1>All issues</h1>
<%= link_to "Add new issue", new_issue_path %>

<ul>
  <% @issues.each do |issue| %>
    <%= link_to issue_path(issue) do  %>
      <li>
        <%= issue.title %>
        <%= issue.description %>
      </li>
    <% end %>
  <% end %>
</ul>
