<%= simple_form_for(@issue) do |f| %>
  <div class="form-group">
    <%= f.input :title %>
    <%= f.text_area :description, required: true %>
    <%= f.input :available_on, as: :text, label: "When are you available?", placeholder: "Monday, from 10 AM till 12pm\nTuesday, 3 PM", required: true %>
  </div>
  <%= f.submit %>
<% end %>

<%= link_to "Home", root_path %>
