<%= link_to root_path, class: "home-link" do %>
  <i class="fas fa-home"></i> Home
<% end %>

<div class="d-flex">
  <section class="issue-show">
    <div class="issue-title">
      <h1><%= @issue.title %></h1>
    </div>

    <div class="issue-author">
      <%= image_tag @issue.user.github_avatar_url, alt: "User photo", class: "user-avatar" %>
      <h2><%= @issue.user.github_name %></h2>
    </div>

    <hr class="divider">

    <div class="issue-description-card">
      <p><strong>Description:</strong></p>
      <p><%= @issue.description %></p>
    </div>
  </section>

  <section>
    <%= link_to "Help #{@issue.user.github_name}", root_path, class: "btn" %>
  </section>
</div>

<%= link_to "Schedule Appointment", new_issue_appointment_path(@issue), class: "btn btn-primary" %>

<div class="user-profile mt-5">
  <h3>Get to know <%= @issue.user.github_name %></h3>

  <%= link_to user_path(@issue.user), class: "user-profile-author" do %>
    <%= image_tag @issue.user.github_avatar_url, alt: "User photo", class: "user-profile-avatar" %>
    <div class="d-flex flex-column">
      <h4><%= @issue.user.github_name %></h4>
      <p class="text-dark"><%= @issue.user.github_location %></p>
    </div>
  <% end %>
</div>
