<div class="banner" id="profile-banner">
  <div class="container profile">
    <%= image_tag @user.github_avatar_url || "avataaars.png", class: "profile-avatar", alt: "User image" %>
    <div class="profile-infos">
      <h1>@<%= @user.github_username %></h1>
      <p><%= @user.github_name %></p>
      <span class="d-flex align-items-baseline gap-2">
        <i class="fa-solid fa-location-dot text-center fs-5 text-white"></i>
        <p class="text-center text-white"><%= @user.github_location %></p>
      </span>
    </div>
  </div>
</div>

<div class="profile-container d-flex justify-content-between m-5">

  <div class="profile-offers">
    <h3>My Issues</h3>
    <div class="offers-created">
      <% if @user.issues.any? %>
        <ul class="list-unstyled">
          <% @user.issues.each do |issue| %>
            <li>-
              <%= link_to issue.title, issue_path(issue) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No issues yet.</p>
      <% end %>
    </div>
  </div>

   <!-- Appointments Section -->
  <div class="profile-appointments">
    <h3>My Appointments</h3>

    <% if @appointments.any? %>
      <ul class="list-unstyled">
        <% @appointments.each do |appointment| %>
          <% if appointment.tutor == @user %>
            <%# when you are tutor %>
            <li class="bg-light-subtle">
              <p><strong>Help</strong> <%= appointment.pupil.github_name %>, from  <%= appointment.start_time.strftime("%b %d, %Y %H:%M") %> to <%= appointment.end_time.strftime("%b %d, %Y %H:%M") %></p>
            </li>
          <% else %>
            <%# when you are pupil %>
            <li class="bg-light-subtle">
              <p><strong>Get help from</strong> <%= appointment.tutor.github_name %>, from  <%= appointment.start_time.strftime("%b %d, %Y %H:%M") %> to <%= appointment.end_time.strftime("%b %d, %Y %H:%M") %></p>
            </li>
          <% end %>
        <% end %>
      </ul>
    <% end %>
  </div>

  <%# <div class="profile-map">
    <h3>View Location</h3>
    <div id="map" style="height: 400px;"></div>
  </div> %>
</div>
